# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
start-stop/dist
start-stop/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# event.json - sam app event to trigger lambda local
event.json